* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/crystal-background.jpg");
}

.container {
    margin: 10%;
    padding: 5%;
    border: 3px solid;
    width: auto;
    height: auto;
    font-family: 'Special Elite', cursive;
    
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 5%;
    margin-top: 0;
}

#pink-crystal {
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid pink;
}

.sub-headers {
    font-size: 25px;
    font-weight: bold;
    border-bottom: 5px dotted pink;
    margin-top: 10px;
}

.section {
    padding-bottom: 10px;
}

#score-count {
    background-color: rgb(141, 214, 243);
    right: 0;
    float: right;
}

.crystal-image {
    width: 100px;
    height: auto;
    margin: 25px;
}

/* Inside the boxes to show score */
.scoreStyle {
    font-weight: bold;
    font-size: 150px;
    text-align: center;
    margin: 15px;
    display: inline-block;
}
